<html>
<head>
    <title>First Page</title>
</head>
<body>
    <nav>
        <a href='/'>First page</a>
        <a href='/revanth'>Second page</a>
        <a href='/register'>Register Page</a>
        <a href='/login'>Login Page</a>
    </nav>
    <h2>Hello this is 4A10 BATCH</h2> 
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aut unde recusandae, magni sequi voluptas, animi qui numquam voluptates nobis perspiciatis culpa. Voluptatem, earum. Sed minima itaque hic vitae exercitationem!</p>
</body>
</html>