<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
     <nav>
        <a href='/'>First page</a>
        <a href='/revanth'>Second page</a>
        <a href='/register'>Register Page</a>
        <a href='/login'>Login Page</a>
    </nav>
    <h2>Login</h2>
    <form>
        username: <input type="text" name="username" placeholder="Enter username: ">
        <br><br>
        password: <input type="password" name="password" placeholder="Enter password">
        <br><br>
        <input type="submit">
    </form>
</body>
</html>