<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <h2>Registration Form</h2>

    <form>
        Email : <input type="email" name="email" placeholder="Enter Email id: ">
        <br><br>
        Password: <input type="password" name="password" placeholder="Enter password: ">
        <br><br>
        Confirm Password: <input type="password" name="confirmpassword" placeholder="Enter Confirm password: ">
        <br><br>
        Birthday: <input type="date" name="DOB" placeholder="Enter Date of birth: ">
        <br><br>    
        Name: <input type="text" name="name" placeholder="Enter name of the user: ">
        <br><br>
        Username: <input type="text" name="username" placeholder="Enter username: ">
        <br><br>
        <input type="submit">

    </form>
    
</body>
</html>