<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    
    <nav>
        <a href="/">home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quam, quisquam nesciunt corporis, quos iste ipsam sequi, non eligendi harum consectetur delectus ex molestiae repellat numquam accusamus? Quaerat, praesentium possimus?</p>
</body>
</html>