<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    <h2>Registration Form </h2>
    <br><br>
    <form action="/register_verify" method="POST">
        Username: <input type="text" name="username" placeholder="Enter Username: ">
        <br><br>
        Password: <input type="password" name="password" placeholder="Enter Password: ">
        <br><br>
        Email: <input type="email" name="email" placeholder="Enter Emailid: ">
        <br><br>
        <input type="submit">
    </form>
</body>
</html>