<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta, eius natus aspernatur saepe nam ullam est, distinctio sunt odit quasi eum consectetur delectus? Temporibus laborum recusandae nisi dolorem sunt.</p>
</body>
</html>