<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
     <nav>
        <a href='/'>First Page</a>
        <a href='/login'>Login Page</a>
        <a href='/reg'>Register Page</a>
    </nav>
    <h2> Login Form</h2>
    <form action="/login-verify" method="POST">
        username: <input type="text" placeholder="Enter username: ">
        <br><br>
        password: <input type="password" placeholder="Enter password: ">
        <br><br>

        <input type="submit">
    </form>
    
</body>
</html>