<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <nav>
        <a href='/'>Main Page</a>
        <a href='/login/'>Login Page</a>
        <a href='/register/'>Register Page</a>
    </nav>

    <h2>Registration</h2>
    {% if error%}
    {{error}}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <input type="submit" value="Register">

    </form>

</body>
</html>