<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h2>Registration Page</h2>
    <br><br>
    {% if message%}
    {{message}}
    {% endif %}
    <form action='/reg' method='post'>
        Username: <input type="text" name="user" placeholder="Enter username: ">
        <br><br>
        password: <input type="password" name="password" placeholder="Enter Password: ">
        <br><br>
        Email-id: <input type="email" name="email" placeholder="Enter Email-id: ">
        <br><br>
        confirm password: <input type="password" name="cnf" placeholder="Enter Password: ">
        <br><br>

        Name: <input type="text" name="name" placeholder="Enter Name: ">
        <br><br>
        <!-- This is a comment -->
        <!--DOB: <input type="date">
        <br><br>
        PhoneNo: <input type="number" placeholder="Enter PhoneNo: ">
        <br><br>-->
        <input type="submit">
    </form>
    
</body>
</html>

<!--python install package-->